* {
	margin: 0;
}

body {
	background-color: #ddd;
	color: #222;
	font-family: Verdana, sans-serif;
}

#nav-bar{
	position: fixed;
	top: 0;
	min-height: 20px;
	padding: 0px 8px;
	width: 100%;
	display: flex;
	justify-content: space-around;
	align-items: center;
	background-color: rgb(42, 63, 42);
}

.header-img {
	object-fit: contain;
	height: 20px;
}

.logo {
	flex: 0.2;
	margin-left: 5%;
}

.links {
	flex: 0.8;
	text-align: center;
	font-size: 16px;
}

a {
	text-decoration: none;
	margin-right: 3%;
	color: whitesmoke;
}

a:hover {
	text-decoration: underline;
}

#header {
	display: flex;
	margin-top: 10px;
	align-items: center;
	flex-direction: column;

/*	position: fixed;
  width: 100%;
  top: 0;
  left: 0;*/
}

h1 {
	margin: 30px 0px;
	font-size: 40px;
}

h3 {
	margin-bottom: 30px;
	font-size: 30px;
}

.container {
	margin: 50px 10%;
	padding: 50px 5%;
	background-color: white;
	border-radius: 16px;
	box-shadow: 0 0 10px 3px #999999;
}

section {
	margin: 100px 0;
}

.keyboard-description {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

input {
	font-size: 20px;
	border-radius: 5%;
}

.submit {
	background-color: rgb(42, 63, 42);
	color: white;
}

.submit:hover {
	background-color: rgb(42, 63, 42);
	color: red;
}

footer {
  height: 150px;
  background-color: rgb(42, 63, 42); 
/*  text-decoration-color: white;*/
  color: white;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: flex-end; 
  padding: 25px;
}

footer > span {
  position: absolute;
  bottom: -1530px;
  color: red;
}

@media (max-width: 1000px) {
	h1 {
		font-size: 45px;
	}
}