html {
  /* color: black; */
  background-color: beige;
  /* font-family: 'Open Sans', Arial, sans-serif; */
}

#navbar header {
  font-size: 30px;
  text-align: center;
}

#navbar ul {
  list-style-type: none;
}

.main-section header {
  font-size: 20px;
  font-weight: 600;
}

code {
  font-family: Courier;
  font-size: 15pt;
  color: darkgrey;
  background-color: lightgray;
  padding: 5px;
  border: 1px solid darkred;
}

@media (max-width: 1000px) and (min-width: 500px) {
  #main-doc {
    width: 600px;
  }
}